{% extends 'account/base.html' %}

{% block content %}
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/static/js/jquery.fileupload.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
        
        $('#tab1').click(function(e){
            $('#tab1').attr("class", "active")
            $('#tab2').attr("class", "");
            $("#loglist").toggle("active ''");
            $("#uploadfile").toggle("''  active");
        });
        $('#tab2').click(function(e){
            $('#tab2').attr("class", "active")
            $('#tab1').attr("class", "");
            $("#loglist").toggle("''  active");
            $("#uploadfile").toggle("active ''");
        });
        
    });
        $(function () {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = window.location.hostname === 'account/#upload';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'txt',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                },
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
</head>
    {% if user.is_authenticated %}
        <br /><br />
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Welcome {{ request.user.username }}</div>
                {% if error %}
                    <p> {{error}} </p>
                {% endif %}
                <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li id="tab1" class="active"><a data-toggle="tab" href="#loglist"><span class="glyphicon glyphicon-list-alt"></span> Log list</a></li>
                    <li id="tab2" class=""><a data-toggle="tab" href="#uploadfile"><span class="glyphicon glyphicon-open glyphicon-list-alt"></span> Upload</a></li>
                </ul>
                    
                <div class="tab-content">
                    <div id="loglist" class="tab-pane active">
                        <table class="table">    
                        {% if question_list %}
                            <thead>
                                <tr>
                                <th>Current logs</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </tr>
                            </thead>
                        {% else %}
                            <tr>
                                <td>No logs are currently available</td>
                            </tr>
                        {% endif %}
                        </table>
                    </div>
                    <div id="uploadfile" class="tab-pane container-fluid">
                        <form method="post" action="/account/#uploadfile" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="myfile" id="myfile">
                            <button type="submit" id="submit">Upload</button>
                          </form>

                          {% if uploaded_file_url %}
                            <p id="post_msg">File {{ uploaded_file_url }} uploaded</a></p>
                          {% elif error %}
                            <p id="post_msg">{{error}}<p>
                          {% endif %}

                         
                    </div>
                </div>
                </div>
            </div>
        </div>
     {% else %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    Welcome! Please register/login to get started.
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

