{% extends "./base.html" %}

{% block content %}
<form method="post">
{% csrf_token %}
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Old Password">
<input type="password" name="password" placeholder="New Password">
<input type="password" name="password_confirmation" placeholder="Confirm New Password">
<button type="submit">Change Password</button>
</form>

<!-- 
<li><a href="/register">Register</a></li>
-->

{% if debug %}
<p> {{debug}} </p>
{% endif %}

{% if error %}
<p> {{error}} </p>
{% endif %}

{% if email %}
	<p> {{email}} </p>
{% endif %}

{% if password %}
	<p> {{password}} <p>
{% endif %}


{% endblock %}

<!-- -->